{#
/**
 * @file
 * Schools Base Theme's theme implementation to display internal banner slider of Post node.
 */
#}

{% extends "page.html.twig" %}
{% block reading_progress_indicator %}
  {% if post_progress %}
    {{ attach_library('schoolsbase/post-progress') }}
    <div class="post-progress">
      <div class="post-progress__bar"></div>
    </div>
  {% endif %}
{% endblock %}
{% block internal_banner %}
  {{ mt_pst_internal_banner }}
{% endblock %}
