/**
 * @file
 * Visual styles for Schools Base Theme's node in compact list item view.
 */
.node--view-mode-tp-compact-list-item {
  margin-bottom: 30px;
}
.node--view-mode-tp-compact-list-item .node__submitted {
  font-size: 12px;
  color: #575757;
  margin-bottom: 10px;
}
.region--light-typography .node--view-mode-tp-compact-list-item .node__submitted {
  color: #ffffff;
}
.node--view-mode-tp-compact-list-item h6 {
  font-size: 16px;
}
