/**
 * @file
 * Visual styles for Schools Base Theme's product content type slide view.
 */
.node--view-mode-tp-slide-view .node__title {
  margin-bottom: 30px;
}
.node--view-mode-tp-slide-view .field.field--name-field-tp-srv-body {
  margin-left: 0;
  margin-right: 0;
  width: auto;
}
