/**
 * @file
 * Visual styles for Schools Base Theme's course content type.
 */

.node--view-mode-full .mt-course-media-area .field,
.field--name-field-mt-crs-image .image-listing-item {
  margin-bottom: 30px;
}
.node--view-mode-full .field--name-field-mt-crs-subheader-body {
  font-size: 22px;
  color: #6c6c6c;
}