/**
 * @file
 * Visual styles for Schools Base Theme's event content type.
 */
.node--type-mt-event .node__date {
  width: 100px;
  background-color: #333;
  color: #fff;
  padding: 8px 0;
  margin-bottom: 30px;
  display: inline-block;
}
.node--type-mt-event .node__date--sameday {
  width: 120px;
}
.node--type-mt-event .node__date-day {
  font-size: 30px;
  line-height: 1.2;
  font-weight: 700;
}
.node--type-mt-event .node__date-month {
  font-size: 18px;
  line-height: 1.5;
  margin-top: -4px;
}
.node--type-mt-event .node__date-time {
  font-size: 14px;
  line-height: 1.5;
  opacity: 0.85;
}
.node__side h5 {
  margin-top: 0;
}

/*node side layout*/
.node__side {
  font-size: 14px;
}
.field--name-field-mt-evnt-location .geolocation-map-container {
  max-height: 250px;
}
@media (min-width: 768px) {
  .node__container {
    position: relative;
  }
  .node__side {
    text-align: right;
    margin-top: 5px;
  }
  .field--name-field-mt-evnt-location .geolocation-map-container {
    max-height: none;
  }
}