/**
 * @file
 * Visual styles for Schools Base Theme's faculty content type.
 */
.page-node-type-tp-faculty h1.page-title {
  margin-bottom: 10px;
}
.page-node-type-tp-faculty .node__header {
  padding: 0;
}
.page-node-type-tp-faculty .field.field--name-field-tp-fclt-body {
  margin-bottom: 20px;
}
.page-node-type-tp-faculty .field.field--name-field-tp-fclt-member-photo {
  margin-bottom: 20px;
}
@media (max-width: 575px) {
  .tp-style-sharp.tp-style-image-global .page-node-type-tp-faculty .field.field--name-field-tp-fclt-member-photo,
  .tp-style-image-sharp .page-node-type-tp-faculty .field.field--name-field-tp-fclt-member-photo {
    margin: 0 -15px 20px;
  }
}
.page-node-type-tp-faculty .node--view-mode-full .field--name-field-tp-fclt-academic-title,
.node--view-mode-teaser .field--name-field-tp-fclt-academic-title {
  font-size: 20px;
  line-height: 1.20;
  padding: 0;
  margin: 0 0 10px 0;
}
.page-node-type-tp-faculty .region--dark-typography .field--name-field-tp-fclt-academic-title,
.region--dark-typography .node--view-mode-teaser .field--name-field-tp-fclt-academic-title {
  color: #6c6c6c;
}
.page-node-type-tp-faculty .field.field--name-field-tp-fclt-subheader-body {
  font-size: 24px;
  margin-bottom: 10px;
}
.region--dark-typography .field--name-field-tp-fclt-subheader-body {
  color: #2a2a2a;
}
.field--name-field-tp-fclt-subheader-body p {
  padding-bottom: 25px;
}
.node--view-mode-teaser .field--name-field-tp-fclt-body {
  margin-bottom: 15px;
}
.node--view-mode-teaser .field--name-field-tp-fclt-body p:last-child {
  padding-bottom: 0px;
}
.node--view-mode-teaser .field--name-field-tp-fclt-academic-title {
  margin-bottom: 10px;
}