/**
 * @file
 * Visual styles for Schools Base Theme's albums carousel.
 */
.tp-carousel-albums {
  padding: 0 70px;
  margin-bottom: 100px;
}
.tp-carousel-albums .tp-carousel-item {
  margin: 10px;
}
