/**
 * @file
 * Styles for Schools Base Theme's buttons.
 */
/*global styles*/
.tp-style-sharp a.tp-button,
.tp-style-sharp .tp-button > a,
.tp-style-sharp button.tp-button,
.tp-style-sharp input[type="submit"],
.tp-style-sharp input[type="reset"],
.tp-style-sharp input[type="button"],
.tp-style-sharp .tp-count-down__button,
.tp-style-sharp .col-12 .view > .more-link a {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.tp-style-oval a.tp-button,
.tp-style-oval .tp-button > a,
.tp-style-oval button.tp-button,
.tp-style-oval input[type="submit"],
.tp-style-oval input[type="reset"],
.tp-style-oval input[type="button"],
.tp-style-oval .tp-count-down__button,
.tp-style-oval .col-12 .view > .more-link a {
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
}
.tp-style-rounded a.tp-button,
.tp-style-rounded .tp-button > a,
.tp-style-rounded button.tp-button,
.tp-style-rounded input[type="submit"],
.tp-style-rounded input[type="reset"],
.tp-style-rounded input[type="button"],
.tp-style-rounded .tp-count-down__button,
.tp-style-rounded .col-12 .view > .more-link a {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

/*global styles for buttons that oval shape is not supported*/
.tp-style-sharp .collapsible-sticky-footer-trigger .tp-button,
.tp-style-sharp .collapsible-block__trigger a,
.tp-style-sharp .overlay-icon,
.tp-style-sharp ul.icons-list.icons-list--bordered li a,
.tp-style-sharp .to-top {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.tp-style-rounded .collapsible-sticky-footer-trigger .tp-button,
.tp-style-oval .collapsible-sticky-footer-trigger .tp-button,
.tp-style-rounded .collapsible-block__trigger a,
.tp-style-oval .collapsible-block__trigger a {
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
}
.tp-style-rounded .overlay-icon,
.tp-style-oval .overlay-icon,
.tp-style-rounded ul.icons-list.icons-list--bordered li a,
.tp-style-oval ul.icons-list.icons-list--bordered li a,
.tp-style-rounded .to-top,
.tp-style-oval .to-top {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

/*button specific styles*/
.tp-style-button-sharp a.tp-button,
.tp-style-button-sharp .tp-button > a,
.tp-style-button-sharp button.tp-button,
.tp-style-button-sharp input[type="submit"],
.tp-style-button-sharp input[type="reset"],
.tp-style-button-sharp input[type="button"],
.tp-style-button-sharp .tp-count-down__button,
.tp-style-button-sharp .col-12 .view > .more-link a {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.tp-style-button-oval a.tp-button,
.tp-style-button-oval .tp-button > a,
.tp-style-button-oval button.tp-button,
.tp-style-button-oval input[type="submit"],
.tp-style-button-oval input[type="reset"],
.tp-style-button-oval input[type="button"],
.tp-style-button-oval .tp-count-down__button,
.tp-style-button-oval .col-12 .view > .more-link a {
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
}
.tp-style-button-rounded a.tp-button,
.tp-style-button-rounded .tp-button > a,
.tp-style-button-rounded button.tp-button,
.tp-style-button-rounded input[type="submit"],
.tp-style-button-rounded input[type="reset"],
.tp-style-button-rounded input[type="button"],
.tp-style-button-rounded .tp-count-down__button,
.tp-style-button-rounded .col-12 .view > .more-link a {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

/*button specific styles for buttons that oval shape is not supported*/
.tp-style-button-sharp .collapsible-sticky-footer-trigger .tp-button,
.tp-style-button-sharp .collapsible-block__trigger a,
.tp-style-button-sharp .overlay-icon,
.tp-style-button-sharp ul.icons-list.icons-list--bordered li a,
.tp-style-button-sharp .to-top {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.tp-style-button-rounded .collapsible-sticky-footer-trigger .tp-button,
.tp-style-button-oval .collapsible-sticky-footer-trigger .tp-button,
.tp-style-button-rounded .collapsible-block__trigger a,
.tp-style-button-oval .collapsible-block__trigger a {
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
}
.tp-style-button-rounded .overlay-icon,
.tp-style-button-oval .overlay-icon,
.tp-style-button-rounded ul.icons-list.icons-list--bordered li a,
.tp-style-button-oval ul.icons-list.icons-list--bordered li a,
.tp-style-button-rounded .to-top,
.tp-style-button-oval .to-top {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
