/**
 * @file
 * Styles for Schools Base Theme's images.
 */
/*global styles*/
.tp-style-sharp img,
.tp-style-sharp .overlay {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}
.tp-style-oval img,
.tp-style-rounded img,
.tp-style-oval .overlay,
.tp-style-rounded .overlay {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

/*images specific styles*/
.tp-style-image-sharp img,
.tp-style-image-sharp .overlay {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}
.tp-style-image-rounded img,
.tp-style-image-rounded .overlay {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
